# Development Environment Variables
# Copy this file to .env.local and fill in the values

# MongoDB Connection String
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/your-database?retryWrites=true&w=majority

# NextAuth Configuration
NEXTAUTH_SECRET=your-nextauth-secret-key
NEXTAUTH_URL=http://localhost:3000

# PlanBot Configuration
GROQ_API_KEY=your-groq-api-key



# Optional: Google Analytics
NEXT_PUBLIC_GA_ID=

# Optional: API Keys for external services
# NEXT_PUBLIC_API_KEY=

NEXT_PUBLIC_GTM =
NEXT_PUBLIC_APP_URL = 
TELEGRAM_BOT_TOKEN = 
TELEGRAM_CHAT_ID = 
GMAIL_PASSKEY = 
EMAIL_ADDRESS =